.signUp {
  margin: 4rem 6rem;
  color: #2a2a2a;
}

.signUp form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.signUp input[type="text"],
.signUp input[type="password"] {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}

.signUp button[type="submit"] {
  display: inline;
  border-radius: 0.3rem;
}

.signUp or {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .signUp {
    margin: 4rem 2rem;
  }

  .signUp form {
    padding-top: 2rem;
    width: 90%;
  }
}
